*{
    padding: 0;
    box-sizing: border-box;
}

:root{
    --home: #4c6ef5;
    --behance: #fd7e14;
    --linkedin: #0077b5;
    --instagram: #e4405f;
    --facebook: #3b5999;
    --twitter: #55acee;
    --pinterest: #bd081c;
}

.redes-container{
    display: flex;
    align-items:center;
    justify-content:center;
    padding: 10px 0px;
}

.redes-container ul li{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center; 
}

.redes-container ul li a{
    display: block;
    padding: 0 10px;
    background: #000;
    color: #fff;
    line-height: 50px;
    border-radius: 50%;
    font-size: 18px;
    transition: .2s;
}

.redes-container ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}

.redes-container ul li .home:hover{
    background: var(--home);
}
.redes-container ul li .behance:hover{
    background: var(--behance);
}
.redes-container ul li .linkedin:hover{
    background: var(--linkedin);
}
.redes-container ul li .instagram:hover{
    background: var(--instagram);
}

@media only screen and (max-width: 700px) {
    
    .redes-container ul li{
        margin: 0 1px;
    }
}


.slider2 {
	/* width: 95%; */
    max-width: 440px;
	margin: auto;
	overflow: hidden;
}

.slider2 ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 20s infinite linear;
}

.slider2 li {
	width: 100%;
	list-style: none;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}